/* Global */
* {
    box-sizing: border-box;

}


body {
    margin: 0;
    cursor: default;
    overflow-x: hidden;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/*navbar*/
#navbar {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: #fff;
    padding: 5px 15px;
    z-index: 100;

}

#navbar img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;

}

#navbar.navbar--dark {
    background-color: #8FE3D9;
    transition: all 300ms ease-in-out;
}

.navbar__logo {
    font-size: var(--font-regular);
    display: flex;
    align-items: center;

}

.navbar__logo i {
    color: #fff;

}

.navbar__menu {
    display: flex;



}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;


}



.navbar__menu__item:hover {
    background-color: #34ccba;

    border-radius: 5px;
}

.navbar__toggle-btn {
    position: absolute;
    top: 17px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    display: none;

}

/*home*/
#home {
    background: url(../img/main.png) center/cover no-repeat;
    padding: 150px 0;
    padding-top: 150px;
    text-align: center;

}

#home img {
    width: 250px;
    border-radius: 50%;
    border: 1px solid #34ccba;


}

.home__title,
.home__description {
    color: #333;
}

.home__contact {
    font-size: var(--weight-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 1px solid #34ccba;
    border-radius: 4px;

}

.home__contact:hover {
    background-color: #34ccba;
    transition: all 300ms ease;
}

/*section*/
.section {
    padding: 50px;
    text-align: center;

    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/*about*/
#about {
    color: #333;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;

}

.major__icon {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    border: 1px solid #34ccba;
    border-radius: 50%;
    margin-bottom: 20px;

}

.major__icon i {
    transition: all 300ms ease;
}

.major__icon:hover i {
    color: #34ccba;
    transform: rotate(-30deg) scale(1.1);
}

.major__description {
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
}

.job i {
    font-size: 25px;
}

.job__description {
    margin: 0 16px;
    text-align: left;

}

.job__name {
    font-size: var(--font-small);
}

.job__time {
    font-size: var(--font-micro);
}

/*skills*/
#skills {
    background-color: #8FE3D9;

}

.section__container h2 {
    margin-bottom: 20px;


}

.section__container p {
    font-size: 1rem;

}

.skillset {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 0;


}

.skill {
    margin-bottom: 30px;
}

.skillset__left {
    flex-basis: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 35px;
}

.skillset__right {
    flex-basis: 40%;
    background-color: rgba(255, 255, 255, 0.3);
}

.skill_description {
    display: flex;
    justify-content: space-between;

}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: #333;
}

.skill_value {
    width: 100%;
    height: 3px;
    background-color: #feb546;
}

.tools {
    padding: 20px;

}

.tools__list li {
    margin-bottom: 12px;
}

/*work*/
.work__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--font-regular);
    padding: 8px 48px;
    margin-right: 5px;
    position: relative;

}

.category__btn:hover {}

.category__btn.active,
.category__btn:hover {
    background-color: #8FE3D9;
    color: #333;

}

.category__btn.active .category__Count,
.category__btn:hover .category__Count {
    opacity: 1;
    top: 0;
}

.category__Count {
    background-color: #34ccba;
    border-radius: 50%;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;

    position: absolute;
    top: -20px;
    right: 16px;
    opacity: 0;
    transition: all 300ms ease;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 300ms ease-out;

}

.work__projects.anim-out {
    opacity: 0.6;
    transform: scale(0.9) translateY(40px);
}

.project {
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project.invisible {
    display: none;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0);
}

.project_img {
    max-width: 100%;
    max-height: 100%;

}

.project__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms ease;
    transform: translateY(10px);
}

.project__description h3 {
    color: #34ccba;
}

.project__description h3::after {
    content: '';
    position: relative;
    left: 50%;
    display: block;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: #fff;
}

/*contact*/
#contact {
    background-color: #8FE3D9;



}

.contact__tilte,
.contact__email,
.contact__right {
    color: #fff;
}

.contact__tilte {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: #34ccba;
    transition: all 300ms ease;
}

.contact__right {
    margin-top: 15px;
}

/*Arrow up*/
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    color: #fff;
    background-color: #34ccba;
    border-radius: 50%;
    opacity: 0;
    transition: all 300ms ease-in;
    pointer-events: none;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;

}

/*반응형*/

@media screen and (max-width:768px) {
    #home {
        padding: 100px 0;
        padding-bottom: 50px;

    }

    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #8FE3D9;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;




    }

    .navbar__menu.open {

        display: block;
    }

    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .major {
        margin-bottom: 30px;
    }

    .skillset {
        flex-direction: column;
    }

    .category__btn {
        width: 100%;
        margin: 4px 0;


    }

    .project {
        flex-grow: 1;
    }


    .section {
        padding: 16px;
        padding-top: 40px;
      

    }

    .arrow-up {
        bottom: 16px;
        right: 16px;
        width: 40px;
        height: 40px;
        line-height: 30px;
     

    }
    .arrow-up i {
        font-size: 30px;
    }
}